@tailwind base;
@tailwind components;
@tailwind utilities;




.img{
  width: 100%;
  height: 200px;
}


.Logo-carrito{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}



.Navbar_button{
  font-size: 20px;
  
}

.titulo{
  margin-top: 20px;
  display: flex;
  
  
}

.card{
  display: flex;
  width: 400px;
  border: 3px solid lightblue;
  margin: 3px;
  
}

.flex{
  display: flex;
  flex-direction: column;
}

.fila{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bg{
  background-color: brown;
}

.margin{
  margin: 5px;
  color:black;
  border-color: aquamarine;
}
.botonCarrito{
  color: whitesmoke;
  border-color: aquamarine;
}

