@tailwind base;
@tailwind components;
@tailwind utilities;



.img{
  width: 100%;
  height: 200px;
}

.img2{
  width:300px;
  height: 300px;
  margin-right: 10px;
  margin-top: 20px;
}


.Logo-carrito{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}





.Navbar_button_cat{
  font-size: 20px;
  padding-top: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titulo{
  margin-top: 20px;
  display: flex;
  
  
}

.card{
  display: flex;
  width: 400px;
  border: 3px solid lightblue;
  margin: 3px;
  
}

.flex{
  display: flex;
  flex-direction: column;
}

.fila{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.margin{
  margin: 5px;
  color:black;
  border-color: aquamarine;
}


.caja{
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  
  
}

.flexBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexo{
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 10px;
}